extends layouts/default.pug

block content
  section#about-us
  .container
    .skill-wrap.clearfix
      .center.wow.fadeInDown
        h2
          | About
          span Gp.
        p.lead
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          br
          |  et dolore magna aliqua. Ut enim ad minim veniam
      .row
        .col-sm-3
          .sinlge-skill.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
            .joomla-skill
              p
                em 85%
              p Joomla
        .col-sm-3
          .sinlge-skill.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
            .html-skill
              p
                em 95%
              p HTML
        .col-sm-3
          .sinlge-skill.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='900ms')
            .css-skill
              p
                em 80%
              p CSS
        .col-sm-3
          .sinlge-skill.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='1200ms')
            .wp-skill
              p
                em 90%
              p Wordpress
    .team
      .center.wow.fadeInDown
        h2
          | Team of
          span Gp.
        p.lead
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          br
          |  et dolore magna aliqua. Ut enim ad minim veniam
      .row.clearfix
        .col-md-4.col-sm-6
          .single-profile-top.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
            .media
              .pull-left
                a(href='#')
                  img.media-object(src='images/man1.jpg', alt='')
              .media-body
                h4 Jhon Doe
                h5 Founder and CEO
                ul.tag.clearfix
                  li.btn
                    a(href='#') Web
                  li.btn
                    a(href='#') Ui
                  li.btn
                    a(href='#') Ux
                  li.btn
                    a(href='#') Photoshop
                ul.social_icons
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-google-plus
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable.
        .col-md-4.col-sm-6.col-md-offset-2
          .single-profile-top.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
            .media
              .pull-left
                a(href='#')
                  img.media-object(src='images/man2.jpg', alt='')
              .media-body
                h4 Jhon Doe
                h5 Founder and CEO
                ul.tag.clearfix
                  li.btn
                    a(href='#') Web
                  li.btn
                    a(href='#') Ui
                  li.btn
                    a(href='#') Ux
                  li.btn
                    a(href='#') Photoshop
                ul.social_icons
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-google-plus
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable.
      .row.team-bar
        .first-one-arrow.hidden-xs
          hr
        .first-arrow.hidden-xs
          hr
          i.fa.fa-angle-up
        .second-arrow.hidden-xs
          hr
          i.fa.fa-angle-down
        .third-arrow.hidden-xs
          hr
          i.fa.fa-angle-up
        .fourth-arrow.hidden-xs
          hr
          i.fa.fa-angle-down
      .row.clearfix
        .col-md-4.col-sm-6.col-md-offset-2
          .single-profile-bottom.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='600ms')
            .media
              .pull-left
                a(href='#')
                  img.media-object(src='images/man3.jpg', alt='')
              .media-body
                h4 Jhon Doe
                h5 Founder and CEO
                ul.tag.clearfix
                  li.btn
                    a(href='#') Web
                  li.btn
                    a(href='#') Ui
                  li.btn
                    a(href='#') Ux
                  li.btn
                    a(href='#') Photoshop
                ul.social_icons
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-google-plus
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable.
        .col-md-4.col-sm-6.col-md-offset-2
          .single-profile-bottom.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='600ms')
            .media
              .pull-left
                a(href='#')
                  img.media-object(src='images/man4.jpg', alt='')
              .media-body
                h4 Jhon Doe
                h5 Founder and CEO
                ul.tag.clearfix
                  li.btn
                    a(href='#') Web
                  li.btn
                    a(href='#') Ui
                  li.btn
                    a(href='#') Ux
                  li.btn
                    a(href='#') Photoshop
                ul.social_icons
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-google-plus
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable.
  section#bottom
    .container.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
      .row
        .col-md-3.col-sm-6
          .widget
            h3 Company
            ul
              li
                a(href='#') About us
              li
                a(href='#') We are hiring
              li
                a(href='#') Meet the team
              li
                a(href='#') Copyright
        .col-md-3.col-sm-6
          .widget
            h3 Support
            ul
              li
                a(href='#') Faq
              li
                a(href='#') Blog
              li
                a(href='#') Forum
              li
                a(href='#') Documentation
        .col-md-3.col-sm-6
          .widget
            h3 Developers
            ul
              li
                a(href='#') Web Development
              li
                a(href='#') SEO Marketing
              li
                a(href='#') Theme
              li
                a(href='#') Development
        .col-md-3.col-sm-6
          .widget
            h3 Our Partners
            ul
              li
                a(href='#') Adipisicing Elit
              li
                a(href='#') Eiusmod
              li
                a(href='#') Tempor
              li
                a(href='#') Veniam
