extends layouts/default.pug

block header
  header#first
    .header-content
      .inner
        h1 Cards
        h5.wow.fadeIn.text-normal.wow.fadeIn Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed

block content
  section#one
    .container.wow.fadeInUp
      h2 Cards
      p.lead
        | What you notice first in
        a(href='http://v4-alpha.getbootstrap.com/') Bootstrap 4
        |  is that
        code .panel
        |  and
        code .well
        |  have been replaced by the
        code .card
        | . This makes a lot of sense as &quot;cards&quot; are one of the more well known trends in responsive design. The
        a(href='') Bootstrap 4 Cards
        |  can be singular, grouped together (as shown) or
        a(href='') equal height
        | . There are many different layout and content options.
      .card-group
        each photo, index in photos
          .card
            img.card-img-top.img-fluid(src=photo.thumbnailUrl, alt='Card image cap')
            .card-block
              h4.card-title= 'Example #' + (index + 1)
              p.card-text= photo.title
