extends layouts/default.pug

block content
  .map
    #google-map(data-latitude='40.713732', data-longitude='-74.0092704')
  section#contact-page
    .container
      .center
        h2 Drop Your Message
        p.lead Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .row.contact-wrap
        .col-sm-8.col-sm-offset-2
          #sendmessage Your message has been sent. Thank you!
          #errormessage
          form.contactForm(action='', method='post', role='form')
            .form-group
              input#name.form-control(type='text', name='name', placeholder='Your Name', data-rule='minlen:4', data-msg='Please enter at least 4 chars')
              .validation
            .form-group
              input#email.form-control(type='email', name='email', placeholder='Your Email', data-rule='email', data-msg='Please enter a valid email')
              .validation
            .form-group
              input#subject.form-control(type='text', name='subject', placeholder='Subject', data-rule='minlen:4', data-msg='Please enter at least 8 chars of subject')
              .validation
            .form-group
              textarea.form-control(name='message', rows='5', data-rule='required', data-msg='Please write something for us', placeholder='Message')
              .validation
            .text-center
              button.btn.btn-primary.btn-lg(type='submit') Send Message
  section#bottom
    .container.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
      .row
        .col-md-3.col-sm-6
          .widget
            h3 Company
            ul
              li
                a(href='#') About us
              li
                a(href='#') We are hiring
              li
                a(href='#') Meet the team
              li
                a(href='#') Copyright
        .col-md-3.col-sm-6
          .widget
            h3 Support
            ul
              li
                a(href='#') Faq
              li
                a(href='#') Blog
              li
                a(href='#') Forum
              li
                a(href='#') Documentation
        .col-md-3.col-sm-6
          .widget
            h3 Developers
            ul
              li
                a(href='#') Web Development
              li
                a(href='#') SEO Marketing
              li
                a(href='#') Theme
              li
                a(href='#') Development
        .col-md-3.col-sm-6
          .widget
            h3 Our Partners
            ul
              li
                a(href='#') Adipisicing Elit
              li
                a(href='#') Eiusmod
              li
                a(href='#') Tempor
              li
                a(href='#') Veniam

