extends layouts/default.pug

block header
  header#first
    .header-content
      .inner
        h1 Examples
        h5.wow.fadeIn.text-normal.wow.fadeIn Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed

block content
  section#examples
    .container.text-center
      .row
        .col-lg-10.offset-lg-1.col-12.text-center
          h1.mt-0.text-primary Bootstrap 4 Examples
          hr.primary
        .col-sm-6.text-center
          h5.mt-0.text-primary Layouts &amp; Templates
          .nav.flex-column.text-center
            a.nav-link(href='//www.codeply.com/go/wECEBeWpLO/bootstrap-4-sticky-footer-flexbox') Sticky Footer
            |
            a.nav-link(href='//www.codeply.com/go/KrUO8QpyXP/bootstrap-4-dashboard') Dashboard
            |
            a.nav-link(href='//www.codeply.com/go/i8xuvOmVw3/bootstrap-4-full-height-jumbotron-vertical-center') Full-height Jumbotron Vertical Center
            |
            a.nav-link(href='//www.codeply.com/go/i8xuvOmVw3/bootstrap-4-affix-nav-and-sidebar-layout') Header, Affix Navbar &amp; Sidebar
            |
            a.nav-link(href='//www.codeply.com/go/JbaVzJCNLJ/bootstrap-4-off-canvas-sidebar') Off-canvas Sidebar
        .col-sm-6.text-center
          h5.mt-0.text-primary Code Snippets
          .nav.flex-column.text-center
            a.nav-link(href='//www.codeply.com/go/kTGlK9Axdk/bootstrap-4-navbar-align-center') Navbar Align Center
            |
            a.nav-link(href='//www.codeply.com/go/kTGlK9Axdk/bootstrap-4-navbar-align-right') Navbar Align Right
            |
            a.nav-link(href='//www.codeply.com/go/1ZFF5CEXM5/bootstrap-4-custom-navbar-color') Custom Navbar Color
            |
            a.nav-link(href='//www.codeply.com/go/q0b6ILuRyx/bootstrap-4-vertical-sidebar-nav-with-submenu') Multi-level Vertical Side Nav
            |
            a.nav-link(href='//www.codeply.com/go/C3ZSBLzAZC/bootstrap-4-card-examples') Card Examples