extends layouts/default.pug

block content
  section#services.service-item
    .container
      .center.wow.fadeInDown
        h2 Our Service
        p.lead
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          br
          |  et dolore magna aliqua. Ut enim ad minim veniam
      .row
        .col-sm-6.col-md-4
          .media.services-wrap.wow.fadeInDown
            .pull-left
              img.img-responsive(src='images/services/services1.png')
            .media-body
              h3.media-heading SEO Marketing
              p Lorem ipsum dolor sit ame consectetur adipisicing elit
        .col-sm-6.col-md-4
          .media.services-wrap.wow.fadeInDown
            .pull-left
              img.img-responsive(src='images/services/services2.png')
            .media-body
              h3.media-heading SEO Marketing
              p Lorem ipsum dolor sit ame consectetur adipisicing elit
        .col-sm-6.col-md-4
          .media.services-wrap.wow.fadeInDown
            .pull-left
              img.img-responsive(src='images/services/services3.png')
            .media-body
              h3.media-heading SEO Marketing
              p Lorem ipsum dolor sit ame consectetur adipisicing elit
        .col-sm-6.col-md-4
          .media.services-wrap.wow.fadeInDown
            .pull-left
              img.img-responsive(src='images/services/services4.png')
            .media-body
              h3.media-heading SEO Marketing
              p Lorem ipsum dolor sit ame consectetur adipisicing elit
        .col-sm-6.col-md-4
          .media.services-wrap.wow.fadeInDown
            .pull-left
              img.img-responsive(src='images/services/services5.png')
            .media-body
              h3.media-heading SEO Marketing
              p Lorem ipsum dolor sit ame consectetur adipisicing elit
        .col-sm-6.col-md-4
          .media.services-wrap.wow.fadeInDown
            .pull-left
              img.img-responsive(src='images/services/services6.png')
            .media-body
              h3.media-heading SEO Marketing
              p Lorem ipsum dolor sit ame consectetur adipisicing elit
  section#feature.transparent-bg
    .container
      .get-started.center.wow.fadeInDown
        h2 Ready to get started
        p.lead
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          br
          |  Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        .request
          h4
            a(href='#') Request a free Quote
      .clients-area.center.wow.fadeInDown
        h2 What our client says
        p.lead
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          br
          |  et dolore magna aliqua. Ut enim ad minim veniam
      .row
        .col-md-4.wow.fadeInDown
          .clients-comments.text-center
            img.img-circle(src='images/client1.png', alt='')
            h3
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            h4
              span -John Doe /
              |  Director of corlate.com
        .col-md-4.wow.fadeInDown
          .clients-comments.text-center
            img.img-circle(src='images/client2.png', alt='')
            h3
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            h4
              span -John Doe /
              |  Director of corlate.com
        .col-md-4.wow.fadeInDown
          .clients-comments.text-center
            img.img-circle(src='images/client3.png', alt='')
            h3
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            h4
              span -John Doe /
              |  Director of corlate.com
  section#bottom
    .container.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
      .row
        .col-md-3.col-sm-6
          .widget
            h3 Company
            ul
              li
                a(href='#') About us
              li
                a(href='#') We are hiring
              li
                a(href='#') Meet the team
              li
                a(href='#') Copyright
        .col-md-3.col-sm-6
          .widget
            h3 Support
            ul
              li
                a(href='#') Faq
              li
                a(href='#') Blog
              li
                a(href='#') Forum
              li
                a(href='#') Documentation
        .col-md-3.col-sm-6
          .widget
            h3 Developers
            ul
              li
                a(href='#') Web Development
              li
                a(href='#') SEO Marketing
              li
                a(href='#') Theme
              li
                a(href='#') Development
        .col-md-3.col-sm-6
          .widget
            h3 Our Partners
            ul
              li
                a(href='#') Adipisicing Elit
              li
                a(href='#') Eiusmod
              li
                a(href='#') Tempor
              li
                a(href='#') Veniam
