#aboutModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-body.text-center
        h2.text-center Bootstrap 4 Theme
        h6.text-center A free, responsive template
        p.text-center
          | This is a customized, single page example template that demonstrates some of the new features to check out in Bootstrap 4. Some of the features include Google Montserrat fonts, animation using Dan Eden&apos;s animate.css and the WOW jQuery plugin to watch the scrolling.
        p.text-center
          a(href='http://bootstrap4.guide') Download at Bootstrap4.guide
        br
        |  
        button.btn.btn-primary.btn-lg(data-dismiss='modal', aria-hidden='true')  OK