#alertModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-sm
    .modal-content
      .modal-body.text-center
        h2.text-center Nice Job!
        p.text-center
          | You clicked the button, but it doesn&apos;t actually go anywhere because this is only a demo.
        p.text-center
          a(href='https://medium.com/@bootply/bootstrap-4-whats-new-visual-guide-c84dd81d8387') Learn More
        br
        |  
        button.btn.btn-primary.btn-lg(data-dismiss='modal', aria-hidden='true')
          | OK
          i.ion-android-close
