#galleryModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-body.text-center
        img#galleryImage.center-block.img-fluid(src='//placehold.it/1200x700/222?text=...')
        p
          br
          |  
          button.btn.btn-primary.btn-lg(data-dismiss='modal', aria-hidden='true')
            | Close
            i.ion-android-close