footer#footer.midnight-blue
  .container
    .row
      .col-sm-6
        | &copy; Gp Theme. All Rights Reserved.
        .credits
          a(href='https://bootstrapmade.com/') Bootstrap Themes
          |  by
          a(href='https://bootstrapmade.com/') BootstrapMade
      .col-sm-6
        ul.pull-right
          li
            a(href='#') Home
          li
            a(href='#') About Us
          li
            a(href='#') Faq
          li
            a(href='#') Contact Us


// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
script(src=`js/vendor.js`)
script(src=`js/app.js`)
