nav#topNav.navbar.fixed-top.navbar-toggleable-sm
  .container
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsingNavbar')
      span &#x2630;
    |
    a.navbar-brand.page-scroll(href='#first') Bootstrap 4
    #collapsingNavbar.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.page-scroll(href='#one') Cards
        li.nav-item
          a.nav-link.page-scroll(href='#two') Flexbox
        li.nav-item
          a.nav-link.page-scroll(href='#examples') Examples
        li.nav-item
          a.nav-link.page-scroll(href='#three') 5 Tiers
        li.nav-item
          a.nav-link.page-scroll(href='#four') More
      ul.nav.navbar-nav.ml-auto
        li.nav-item
          a.nav-link.page-scroll(data-toggle='modal', title='A free Bootstrap theme', href='#aboutModal') About
